.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row {
    display: flex;
    /* justify-content: space-evenly; */
}

.box {
    margin: 1px 1px;
    border: 1px solid black;
    height: 40px;
    width: 40px;
}